.footer{
  color: var(--white-color);
  width: 100%;
  font-style: 21px;
  background-color:  #263043;
  display: flex;
  justify-content: center;
  align-items:  center;
  height: 50px;  
  position: relative;
  
  bottom: 0px;
}